.html {
    color: rgb(77, 77, 77);
    height: 5509px;
    width: 1263px;
    z-index: 0;
    perspective-origin: 632px 2754px;
    transform-origin: 632px 2754px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28.8px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section1{
    color: rgb(77, 77, 77);
    height: 540px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 350px;
    transform-origin: 631px 350px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28.8px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section1-div1{
    color: rgb(77, 77, 77);
    height: 500px;
    max-width: 1300px;
    overflow-wrap: break-word;
    text-align: center;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 250px;
    transform-origin: 611px 250px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28.8px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section1-img1{
    color: rgb(77, 77, 77);
    display: block;
    height: 80px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 260px;
    word-wrap: break-word;
    perspective-origin: 130px 40px;
    transform-origin: 130px 40px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28.8px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 481px 40px;
    outline: rgb(77, 77, 77) none 0px;
}

.section1-h1 {
    color: rgb(77, 77, 77);
    height: 84px;
    max-width: 900px;
    overflow-wrap: break-word;
    text-align: center;
    width: 900px;
    word-wrap: break-word;
    perspective-origin: 450px 42px;
    transform-origin: 450px 42px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal bold normal 35.5px / 43px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 161px;
    outline: rgb(77, 77, 77) none 0px;
}

.section1-div2{
    color: rgb(77, 77, 77);
    height: 228px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 293px 114px;
    transform-origin: 293px 114px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(77, 77, 77) none 0px;
}

.section1-p1{
    color: rgb(77, 77, 77);
    height: 140px;
    overflow-wrap: break-word;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 70px;
    transform-origin: 292px 70px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section1-but{
    box-shadow: rgb(63, 111, 33) 0px 2px 0px 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 219px;
    word-wrap: break-word;
    perspective-origin: 135px 26px;
    transform-origin: 135px 26px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(97, 189, 79) 0px, rgb(90, 172, 68) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    font: normal normal bold normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px 26px;
}

.sectiondiv8{
    color: rgb(77, 77, 77);
    height: 28px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 14px;
    transform-origin: 292px 14px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(77, 77, 77) none 0px;
}

.sectionp{
    color: rgb(77, 77, 77);
    height: 28px;
    overflow-wrap: break-word;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 14px;
    transform-origin: 292px 14px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section10{
    color: rgb(153, 153, 153);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
    padding: 20px 40px;
}


.section2{
    color: rgb(255, 255, 255);
    height: 1044px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 602px;
    transform-origin: 631px 602px;
    background: rgb(0, 121, 191) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section2-1{
    color: rgb(255, 255, 255);
    height: 1004.17px;
    max-width: 1300px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 502px;
    transform-origin: 611px 502px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-2{
    color: rgb(255, 255, 255);
    height: 56px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 28px;
    transform-origin: 292px 28px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-p{
    color: rgb(255, 255, 255);
    height: 56px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 28px;
    transform-origin: 292px 28px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-3{
    color: rgb(255, 255, 255);
    height: 664.172px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 332px;
    transform-origin: 611px 332px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-img1{
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    height: 664.172px;
    max-width: 100%;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 332px;
    transform-origin: 611px 332px;
    border: 0px none rgb(255, 255, 255);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 40px 60px;
}

.section2-4{
    color: rgb(255, 255, 255);
    height: 244px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 122px;
    transform-origin: 292px 122px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-p2{
    color: rgb(255, 255, 255);
    height: 140px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 70px;
    transform-origin: 292px 70px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-str2{
color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section2-p3{
    color: rgb(255, 255, 255);
    height: 84px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 42px;
    transform-origin: 292px 42px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}


.section3{
    color: rgb(77, 77, 77);
    height: 971px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 526px;
    transform-origin: 631px 526px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 80px 20px 0px;
}

.section3-div1{
    color: rgb(77, 77, 77);
    height: 951px;
    max-width: 1300px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 475px;
    transform-origin: 611px 475px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section3-div2{
    color: rgb(77, 77, 77);
    height: 322px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 161px;
    transform-origin: 292px 161px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(77, 77, 77) none 0px;
}

.section3-p1{
    color: rgb(77, 77, 77);
    height: 224px;
    overflow-wrap: break-word;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 112px;
    transform-origin: 292px 112px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section3-str1{
    color: rgb(77, 77, 77);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(77, 77, 77);
    font: normal normal bold normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section3-a1{
    color: rgb(94, 152, 186);
    display: inline-block;
    height: 28px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none;
    width: 339px;
    word-wrap: break-word;
    perspective-origin: 190px 27px;
    transform-origin: 190px 27px;
    border: 1px solid rgb(94, 152, 186);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 12px 0px;
    outline: rgb(94, 152, 186) none 0px;
    padding: 12px 20px;
}

.section3-img1{
    color: rgb(77, 77, 77);
    display: block;
    height: 589px;
    max-width: 100%;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 889px;
    word-wrap: break-word;
    perspective-origin: 444px 295px;
    transform-origin: 444px 295px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 40px 167px 0px;
    outline: rgb(77, 77, 77) none 0px;
}


.section4{
    color: rgb(77, 77, 77);
    height: 296px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 228px;
    transform-origin: 631px 228px;
    background: rgb(228, 240, 246) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section4-div1{
    color: rgb(77, 77, 77);
    height: 256px;
    max-width: 890px;
    overflow-wrap: break-word;
    position: relative;
    width: 890px;
    word-wrap: break-word;
    perspective-origin: 445px 128px;
    transform-origin: 445px 128px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 166px;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-div2{
    color: rgb(77, 77, 77);
    height: 288px;
    left: 640px;
    overflow-wrap: break-word;
    position: absolute;
    top: -60px;
    width: 461px;
    word-wrap: break-word;
    perspective-origin: 230px 144px;
    transform-origin: 230px 144px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-img1{
    color: rgb(77, 77, 77);
    display: block;
    height: 248px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 461px;
    word-wrap: break-word;
    perspective-origin: 230.5px 124px;
    transform-origin: 230.5px 124px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-div3{
    color: rgb(77, 77, 77);
    height: 256px;
    max-width: 585px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 128px;
    transform-origin: 292px 128px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-p1{
    color: rgb(77, 77, 77);
    height: 112px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 56px;
    transform-origin: 292px 56px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-p2{
    color: rgb(77, 77, 77);
    height: 124px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 62px;
    transform-origin: 292px 62px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section4-a1{
    color: rgb(94, 152, 186);
    display: inline-block;
    height: 54px;
    overflow-wrap: break-word;
    vertical-align: top;
    width: 182px;
    word-wrap: break-word;
    perspective-origin: 91px 27px;
    transform-origin: 91px 27px;
    border: 0px none rgb(94, 152, 186);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 8px 20px 0px 0px;
    outline: rgb(94, 152, 186) none 0px;
}

.section4-img2{
    color: rgb(94, 152, 186);
    display: block;
    height: 54px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 182px;
    word-wrap: break-word;
    perspective-origin: 91px 27px;
    transform-origin: 91px 27px;
    border: 0px none rgb(94, 152, 186);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(94, 152, 186) none 0px;
}

.section3-a2{
    color: rgb(94, 152, 186);
    display: inline-block;
    height: 54px;
    overflow-wrap: break-word;
    vertical-align: top;
    width: 155px;
    word-wrap: break-word;
    perspective-origin: 77px 27px;
    transform-origin: 77px 27px;
    border: 0px none rgb(94, 152, 186);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 8px 20px 0px 0px;
    outline: rgb(94, 152, 186) none 0px;
}

.section4-img3{
    color: rgb(94, 152, 186);
    display: block;
    height: 54px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 155px;
    word-wrap: break-word;
    perspective-origin: 77px 27px;
    transform-origin: 77px 27px;
    border: 0px none rgb(94, 152, 186);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(94, 152, 186) none 0px;
}

.section4-a3{
    color: rgb(94, 152, 186);
    display: inline-block;
    height: 28px;
    overflow-wrap: break-word;
    text-decoration: none;
    width: 246px;
    word-wrap: break-word;
    perspective-origin: 144.109px 27px;
    transform-origin: 144.109px 27px;
    border: 1px solid rgb(94, 152, 186);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(94, 152, 186) none 0px;
    padding: 12px 20px;
}


.section5{
    color: rgb(77, 77, 77);
    height: 180px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 170px;
    transform-origin: 631px 170px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section5-div1{
    color: rgb(77, 77, 77);
    height: 140px;
    max-width: 890px;
    overflow-wrap: break-word;
    position: relative;
    width: 890px;
    word-wrap: break-word;
    perspective-origin: 445px 70px;
    transform-origin: 445px 70px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 166px;
    outline: rgb(77, 77, 77) none 0px;
}

.section5-div2{
    color: rgb(77, 77, 77);
    height: 268px;
    left: 640px;
    overflow-wrap: break-word;
    position: absolute;
    top: -60px;
    width: 285px;
    word-wrap: break-word;
    perspective-origin: 142px 134px;
    transform-origin: 142px 134px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section5-img1{
    color: rgb(77, 77, 77);
    display: block;
    height: 228px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 285px;
    word-wrap: break-word;
    perspective-origin: 142px 114px;
    transform-origin: 142px 114px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section5-div3{
    color: rgb(77, 77, 77);
    height: 140px;
    max-width: 585px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 70px;
    transform-origin: 292px 70px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section5-p1{
    color: rgb(77, 77, 77);
    height: 140px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 70px;
    transform-origin: 292px 70px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section5-str1{
    color: rgb(77, 77, 77);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(77, 77, 77);
    font: normal normal bold normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}


.section6{
    color: rgb(255, 255, 255);
    height: 268px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 214px;
    transform-origin: 631px 214px;
    background: rgb(0, 121, 191) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section6-div1{
    color: rgb(255, 255, 255);
    height: 248px;
    max-width: 1300px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 124px;
    transform-origin: 611px 124px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-div2 {
    color: rgb(255, 255, 255);
    height: 48px;
    overflow-wrap: break-word;
    text-align: center;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 44px;
    transform-origin: 611px 44px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 40px;
}

.section6-p1{
    color: rgb(255, 255, 255);
    height: 28px;
    overflow-wrap: break-word;
    text-align: center;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 14px;
    transform-origin: 611px 14px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-str1{
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-div3 {
    color: rgb(255, 255, 255);
    height: 160px;
    overflow-wrap: break-word;
    text-align: center;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 611px 80px;
    transform-origin: 611px 80px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img1 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 173px;
    word-wrap: break-word;
    perspective-origin: 86px 30px;
    transform-origin: 86px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img2{

    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 288px;
    word-wrap: break-word;
    perspective-origin: 144px 30px;
    transform-origin: 144px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;



}

.section6-img3{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    word-wrap: break-word;
    perspective-origin: 30px 30px;
    transform-origin: 30px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img4{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 174px;
    word-wrap: break-word;
    perspective-origin: 87px 30px;
    transform-origin: 87px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img5{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 113px;
    word-wrap: break-word;
    perspective-origin: 56px 30px;
    transform-origin: 56px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img6{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 162px;
    word-wrap: break-word;
    perspective-origin: 81px 30px;
    transform-origin: 81px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img7{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 130px;
    word-wrap: break-word;
    perspective-origin: 65px 30px;
    transform-origin: 65px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img8 {
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 158px;
    word-wrap: break-word;
    perspective-origin: 79px 30px;
    transform-origin: 79px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}

.section6-img9{
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 60px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: middle;
    width: 257px;
    word-wrap: break-word;
    perspective-origin: 128px 30px;
    transform-origin: 128px 30px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 20px 20px;
    outline: rgb(255, 255, 255) none 0px;
}


.section7{
    color: rgb(255, 255, 255);
    height: 222px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 191px;
    transform-origin: 631px 191px;
    background: rgb(66, 84, 142) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section7-div1{
    color: rgb(255, 255, 255);
    height: 182px;
    max-width: 890px;
    overflow-wrap: break-word;
    position: relative;
    width: 890px;
    word-wrap: break-word;
    perspective-origin: 445px 91px;
    transform-origin: 445px 91px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 166px;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-div2{
    color: rgb(255, 255, 255);
    height: 170px;
    overflow-wrap: break-word;
    position: absolute;
    right: 640px;
    top: -20px;
    width: 346px;
    word-wrap: break-word;
    perspective-origin: 173px 85px;
    transform-origin: 173px 85px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-img1{
    color: rgb(255, 255, 255);
    display: block;
    height: 130px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 346px;
    word-wrap: break-word;
    perspective-origin: 173px 65px;
    transform-origin: 173px 65px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-div3{
    color: rgb(255, 255, 255);
    height: 182px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 91px;
    transform-origin: 292px 91px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 0px 315px;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-p1{
    color: rgb(255, 255, 255);
    height: 84px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 42px;
    transform-origin: 292px 42px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-str1{
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-p2{
    color: rgb(255, 255, 255);
    height: 78px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 39px;
    transform-origin: 292px 39px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section7-a1{
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    height: 28px;
    overflow-wrap: break-word;
    text-decoration: none;
    width: 399px;
    word-wrap: break-word;
    perspective-origin: 220px 27px;
    transform-origin: 220px 27px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 12px 0px;
    outline: rgba(255, 255, 255, 0.8) none 0px;
    padding: 12px 20px;
}


.section8{
    color: rgb(77, 77, 77);
    height: 276px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 218px;
    transform-origin: 631px 218px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section8-div1{
    color: rgb(77, 77, 77);
    height: 256px;
    max-width: 1300px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 615px 128px;
    transform-origin: 611px 128px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section8-div2{
    color: rgb(77, 77, 77);
    height: 256px;
    max-width: 585px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 128px;
    transform-origin: 292px 128px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 319px;
    outline: rgb(77, 77, 77) none 0px;
}

.section8-p1{
    color: rgb(77, 77, 77);
    height: 168px;
    overflow-wrap: break-word;
    text-align: center;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 293px 84px;
    transform-origin: 292px 84px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(77, 77, 77) none 0px;
}

.section8-str1{
    color: rgb(77, 77, 77);
    overflow-wrap: break-word;
    text-align: center;
    word-wrap: break-word;
    border: 0px none rgb(77, 77, 77);
    font: normal normal bold normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}

.section8-a1{
    box-shadow: rgb(63, 111, 33) 0px 2px 0px 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 28px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 218px;
    word-wrap: break-word;
    perspective-origin: 135px 26px;
    transform-origin: 135px 26px;
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(97, 189, 79) 0px, rgb(90, 172, 68) 100%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 6px 6px 6px 6px;
    font: normal normal bold normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 16px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 12px 26px;
}


.section9{
    color: rgb(255, 255, 255);
    height: 96px;
    overflow-wrap: break-word;
    width: 1223px;
    word-wrap: break-word;
    perspective-origin: 631px 128px;
    transform-origin: 631px 128px;
    background: rgb(0, 121, 191) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 80px 20px;
}

.section9-div1 {
    color: rgb(255, 255, 255);
    height: 56px;
    max-width: 890px;
    overflow-wrap: break-word;
    position: relative;
    width: 890px;
    word-wrap: break-word;
    perspective-origin: 445px 28px;
    transform-origin: 445px 28px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 289px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 166.5px;
    outline: rgb(255, 255, 255) none 0px;
}

.section9-div2{
    color: rgb(255, 255, 255);
    height: 224px;
    overflow-wrap: break-word;
    position: absolute;
    right: 640px;
    top: -80px;
    width: 151px;
    word-wrap: break-word;
    perspective-origin: 75px 112px;
    transform-origin: 75px 112px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.section9-img1{
    color: rgb(255, 255, 255);
    display: block;
    height: 184px;
    overflow-wrap: break-word;
    vertical-align: middle;
    width: 151px;
    word-wrap: break-word;
    perspective-origin: 75px 92px;
    transform-origin: 75px 92px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section9-div3{
    color: rgb(255, 255, 255);
    height: 56px;
    overflow-wrap: break-word;
    top: -80px;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 28px;
    transform-origin: 292px 28px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 0px 0px 0px 315px;
    outline: rgb(255, 255, 255) none 0px;
}

.section9-p1{
    color: rgb(255, 255, 255);
    height: 56px;
    overflow-wrap: break-word;
    width: 585px;
    word-wrap: break-word;
    perspective-origin: 292px 28px;
    transform-origin: 292px 28px;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 20px 0px;
    outline: rgb(255, 255, 255) none 0px;
}

.section9-str1{
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}

.sectio9-br1{
    color: rgb(255, 255, 255);
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 0px none rgb(255, 255, 255);
    font: normal normal 300 normal 20px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}


.footer{
    color: rgb(153, 153, 153);
    height: 128px;
    text-align: center;
    width: 1231px;
    perspective-origin: 615px 64px;
    transform-origin: 615px 64px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 64px 16px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-ul1{
    color: rgb(153, 153, 153);
    height: 28px;
    text-align: center;
    width: 1231px;
    perspective-origin: 615px 14px;
    transform-origin: 615px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 8px 0px 0px;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px;
}

.footer-li1{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 98px;
    perspective-origin: 49px 14px;
    transform-origin: 49px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-a1{
    color: rgb(153, 153, 153);
    text-align: center;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li2 {
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 56px;
    perspective-origin: 28px 14px;
    transform-origin: 28px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li3{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 95px;
    perspective-origin: 48px 14px;
    transform-origin: 48px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li4 {
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 65px;
    perspective-origin: 32px 14px;
    transform-origin: 32px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li5{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 34px;
    perspective-origin: 17px 14px;
    transform-origin: 17px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li6{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 120px;
    perspective-origin: 60px 14px;
    transform-origin: 60px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li7{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 76px;
    perspective-origin: 38px 14px;
    transform-origin: 38px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li8{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 48px;
    perspective-origin: 24px 14px;
    transform-origin: 24px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer-li9{
    color: rgb(153, 153, 153);
    display: inline-block;
    height: 28px;
    text-align: center;
    width: 41px;
    perspective-origin: 20px 14px;
    transform-origin: 20px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 6px;
    outline: rgb(153, 153, 153) none 0px;
}

.footre_p1{
    color: rgb(153, 153, 153);
    height: 28px;
    text-align: center;
    width: 1231px;
    perspective-origin: 615px 14px;
    transform-origin: 615px 14px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 29px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 8px 0px;
    outline: rgb(153, 153, 153) none 0px;
}

.footre_p2{
    color: rgb(153, 153, 153);
    height: 56px;
    text-align: center;
    width: 1231px;
    perspective-origin: 615px 28px;
    transform-origin: 615px 28px;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    margin: 8px 0px;
    outline: rgb(153, 153, 153) none 0px;
}

.footer_a2 {
    color: rgb(153, 153, 153);
    text-align: center;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 300 normal 16px / 28px jaf-facitweb, 'Helvetica Neue', Arial, sans-serif;
    outline: rgb(153, 153, 153) none 0px;
}
